{
  "outbounds": [
    {
      "tag": "vless-out",
      "protocol": "vless",
      "settings": {
        "vnext": [
          {
            "address": "{{SERVER}}",
            "port": {{PORT}},
            "users": [{"id": "{{UUID}}", "encryption": "none"}]
          }
        ]
      },
      "streamSettings": {
        "network": "xhttp",
        {% include "../common/client/tls.json" %}
        "xhttpSettings": {
          "mode": "stream-up",
          "host": "{{HOST_NAME}}",
          "path": "/xhttp"
        }
      }
    },
    {"protocol": "freedom", "tag": "direct"}
  ],
  "routing": {"domainStrategy": "IPIfNonMatch", "rules": []}
}
